.main h1 {
  position: relative;
  width: 400px;
  /* left: 135px; */
  /* top: 236px; */

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 97.6842px;
  line-height: 117px;
  
  color: #ffffff;
}

.main p {
  position: relative;
  width: 455px;

  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: ;
  padding-right: ;

  color: #ffffff;
}

.booking-form {
  position: relative;
  width: 470px;

  padding: 20px 20px 20px 20px;

  background: #ffffff;
  border-radius: 10px;
}

.form-control {
  width: 417px;
  height: 60px;
  padding-top: 200px;

  background: #f2f2f2;
  border-radius: 5px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.tg-primary .btn-warning .btn .btn-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0px 0px 152px;

  position: absolute;
  width: 417px;
  height: 60px;
  left: 859px;
  top: 562px;

  background: #f9a51a;
  border-radius: 5px;
}
